body {
    font: normal 1em Arial;
    background-color: rgb(70, 142, 236);
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

input#num {
    margin-right: 5px;
}

select {
    display: block;
    width: 200px;
}

footer {
    font-style: italic;
    text-align: center;
    color: white;
}