body {
    background-color: antiquewhite;
    font: normal 1em Verdana;
}

header {
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
}

#tab {
    width: 200px;
    margin-bottom: 5px;
    display: block;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font: bold 1em Verdana;
}

a:hover {
    text-decoration: underline;
}
