body {
    background-color: rgb(82, 143, 194);
    font: normal 1em Verdana;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}