body {
    background-color: rgb(70, 142, 236);
    font: normal 1em Verdana;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}

input#verificar {
    background-color: rgb(40, 112, 245);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font: bold 0.9em Verdana;
}

div#res {
    text-align: center;
}

input#verificar:hover {
    background-color: rgb(7, 82, 219);
}

img {
    margin-top: 10px;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}